/* Import a Google Font for modern typography */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #2f6192;
    color: white;
    padding: 40px 0;
    
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: justify;
    
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: rgb(235, 230, 230);
    margin: 20px 0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(165, 60, 60, 0.1);
}

h2 {
    color: #0066cc;
    margin-top: 0;
    text-align: center; ;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

f.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: #0052cc;
  font-size: 1.8rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #003d99;
}

footer {
  text-align: center;
  padding: 15px 10px;
  background-color: #e0e4e8;
  font-size: 0.9rem;
  color: #555;
}


ul {
    padding-left: 50px;
    
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: justify;
}
